 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 200px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-style: italic;
  font-weight: 600;
  margin: -100px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 70px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 313px;
  height: 228px;
  margin: -247px 14px 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 46px 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 70px;
  margin-top: 67px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-4 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 340px;
  min-height: 50px;
  margin: 45px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 5px 30px 0;
}

.u-section-1 .u-text-5 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 4px auto 0;
}

.u-section-1 .u-group-4 {
  width: 340px;
  min-height: 50px;
  margin: 400px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 5px 30px 0;
}

.u-section-1 .u-text-6 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 4px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 600;
  margin: auto auto 50% 50%;
  padding: 8px 106px 10px 104px;
}

.u-section-1 .u-group-5 {
  width: 340px;
  min-height: 50px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 5px 30px 0;
}

.u-section-1 .u-text-7 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 4px auto 0;
}

.u-section-1 .u-group-6 {
  width: 340px;
  min-height: 50px;
  margin: -50px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 5px 30px 0;
}

.u-section-1 .u-text-8 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 4px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 600;
  background-image: none;
  margin: -50px auto 55px 799px;
  padding: 8px 106px 10px 104px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 243px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -160px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -133px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 599px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 599px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: -128px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -165px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 379px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -96px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -197px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 199px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 199px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1277px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -232px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    margin-right: 0;
  }

  .u-section-1 .u-group-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 280px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 70px auto 0 28px;
}

.u-section-2 .u-group-1 {
  min-height: 45px;
  margin-top: -100px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 5px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-family: Poppins;
  font-size: 1.25rem;
  background-image: none;
  margin: 12px 233px 0 28px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-family: Poppins;
  font-size: 1.25rem;
  background-image: none;
  margin: 12px auto 0 28px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 45px;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-5 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 12px auto 0 28px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 12px auto 0 28px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-group-3 {
  min-height: 45px;
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-8 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 12px auto 0 28px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 12px auto 60px 28px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 210px;
}

.u-section-3 .u-text-1 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 424px 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-family: Poppins;
  font-weight: 300;
  margin: 11px 810px 0 0;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: -128px 403px 116px auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 610px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 268px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 127px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 10px;
  }
}